In [1]:
# Even and Odd Number

num=int(input("Enter Number"))
if num%2==0:
    print("Number is Even")
else:
    print("Number is odd")

Enter Number2
Number is Even

In [4]:
# number is positive or negative
num=int(input("Enter Number"))
if num>0:
    print("Positive")
elif num<0:
    print("Negative")
else:
    print("Zero")

Enter Number0
Zero

In [5]:
# sum of two numbers
num1=int(input("Enter 1st number"))
num2=int(input("Enter 2nd number"))

print("Sum is",num1 + num2)

Enter 1st number5
Enter 2nd number6
Sum is 11

In [29]:
# Prime or not
num=int(input("Enter Number"))
count=0
if num>1:
    for i in range(1,num+1):
        if num%i==0:
            count=count+1
            
    if count==2:
        print("prime number")
    else:
        print("Not prime number")

else:
    print("Not  prime number")

Enter Number23
prime number

In [40]:
# palindrome

#e.g 12321
num=input("Enter number")
x=len(num)
i=0
j=x-1

while i < j:
    if num[i]!=num[j]:
        print(False)
        break
    i+=1
    j-=1
    print(True)
    break

Enter number125458
False

In [42]:
# nitin

x=input("Enter a String")
x=x.lower()
l=len(x)
i=0
j=l-1

while i<j:
    if x[i]!=x[j]:
        print(False)
        break
    i+=1
    j-=1
    print(True)
    break

Enter a StringNitin
True

In [ ]:
#Armstrong number

num=int(input("Enter a number"))
num1=str(num)
l=len(num1)
sum=0

for i in num1:
    sum+=int(i)**l
if sum==num:
    print("yes")
else:
    print("No")

In [ ]:

no1=int(input("Enter number"))
no=str(no1)
l=len(no)
sum=0
for i in no:
     sum+=int(i)**l
if sum==no1:
    print("Its Armstrong")
else:
    print("Not Armstrong")

In [59]:
# find maximum no

a=int(input("Enter first no"))
b=int(input("Enter second no"))

def maximum(x,y):
    if x>=y:
        return x
    else:
        return y
print(maximum(a,b))

Enter first no6
Enter second no-10
6

In [62]:
a=int(input("Enter first no"))
b=int(input("Enter second no"))
c=int(input("Enter third no"))

def maximum(x,y,z):
    if x>=y and x>=z:
        return x
    elif y>=x and y>=z:
        return y
    else:
        return z
    
print(maximum(a,b,c))

Enter first no1
Enter second no8
Enter third no3
8

In [74]:
# factorial 

num= int(input("Enter a number"))

def facto(no):
    if no<0:
        print("Enter positive number")
    
    elif no==0:
        print("factorial  is 1")
            
    else:
        fact=1
        for i in range(1,no+1):
            fact=fact*i
        return fact
print(facto(num))

Enter a number4
24

In [79]:
# Fibonacci series 

n1=0
n2=1
print(n1)
print(n2)
for i in range(5):
    sum=n1+n2
    print(sum)
    n1=n2
    n2=sum

0
1
1
2
3
5
8

In [97]:
# pattern 


for i in range(5):
    for j in range(i+1):
        print("*",end=" ")
    print(" ")

*
* *
* * *
* * * *
* * * * *

In [99]:
for i in range(5):
    for j in range(i+1):
        print(j+1,end=" ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [102]:
for  i in range(5):
    for j in range(i,5):
        print("*", end=" ")
    print("")

* * * * *
* * * *
* * *
* *
*

In [105]:
for i in range(5):
    for j in range(i,5):
        print(" ",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [110]:
for i in range(5):
    for j in range(i,5):
        print(" ",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    for j in range(i+1-1):
        print("*",end=" ")   
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [111]:
for i in range(5):
    for j in range(i,5):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    for j in range(i+1):
        print("*",end=" ")   
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [112]:
count=0
for i in range(5):
    for j in range(i+1):
        print(count+1,end=" ")
        count+=1
    print("")

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [113]:
num=65
for i in range(5):
    for j in range(i+1):
        ch=chr(num)
        print(ch,end=" ")
    num+=1
    print("")

A
B B
C C C
D D D D
E E E E E

In [115]:
#swap two numbers
a=5
b=9
a,b=b,a

print(a,b)

9 5

In [116]:
#swap two numbers
a=5
b=9

temp=a
a=b
b=temp

print(a,b)

9 5

In [117]:
# swap without temp value

#swap two numbers
a=5
b=9

a=a+b
b=a-b
a=a-b

print(a,b)

9 5

In [118]:
d={1:5}
d[2]=10
print(d)

{1: 5, 2: 10}

In [120]:
for i in d:
    print(d[i])

5
10

In [124]:
for i in d.keys():
    print(i)

1
2

In [127]:
for i in d.values():
    print(i)

5
10

In [129]:
for key,value in d.items():
    print(key,value)

1 5
2 10

In [132]:
# sorting a element

mylist = [5,8,9,6,3]

print(sorted(mylist))

[3, 5, 6, 8, 9]

In [134]:
mylist = [5,8,9,6,3]

for i in range(len(mylist)):
    for j in range(i+1,len(mylist)):
        if mylist[j] < mylist[i]:
            mylist[i],mylist[j]=mylist[j],mylist[i]
            
print(mylist)

[3, 5, 6, 8, 9]

In [135]:
# find max element
mylist = [5,8,9,6,3]

max=mylist[0]

for i in mylist:
    if i>max:
        max=i
        
print(max)

9

In [136]:
#sorted asccending 
mylist = [5,8,9,6,3]

new=sorted(mylist)
new

[3, 5, 6, 8, 9]

In [137]:
#sorted deccending

mylist = [5,8,9,6,3]
new=sorted(mylist,reverse=True)
new

[9, 8, 6, 5, 3]

In [142]:
# find dublicate value and sort in accending order
mylist = [2,5,7,5,3,4,5,2]

new=sorted(list(set(mylist)))
new

[2, 3, 4, 5, 7]

In [146]:
mylist = [2,5,7,5,3,4,5,2]

new=[]

for i in mylist:
    if i not in new:
        new.append(i)
        
sorted(new)

[2, 3, 4, 5, 7]

In [151]:
# Python program to find second largest number
# in a list
# List of numbers
list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]

new=sorted(list(set(list1)))
new[-2]

45

In [153]:
# Number of words in a given sentense

mystring = 'Maintaining & expending the database of prospects for the organization.'

len(mystring.split())

10

In [161]:
mystring = 'Maintaining & expending the database of prospects for the organization.'
l=mystring.split()
print(l)
type(l)

['Maintaining', '&', 'expending', 'the', 'database', 'of', 'prospects', 'for', 'the', 'organization.']

list

In [163]:
s=",".join(l)
print(s)
print(type(s))

Maintaining,&,expending,the,database,of,prospects,for,the,organization.
<class 'str'>

In [166]:
# extract digit from a given string

mystring = 'Maintaining 12345 & expending 12345 the database of prospects for 12345 the org'
digit = ''

for i in mystring:
    if i.isdigit()==True:
        digit+=i
        

print(digit)

123451234512345

In [176]:
# convert the string into words
mystring = 'Maintaining 12345 & expending 12345 the database of prospects for 12345 the org'

l=mystring.split()
l

['Maintaining',
 '12345',
 '&',
 'expending',
 '12345',
 'the',
 'database',
 'of',
 'prospects',
 'for',
 '12345',
 'the',
 'org']

In [184]:
# Armstrong number

num=input("Enter a number")

def arms(x):
    sum=0
    l=len(str(x))
    for i in x:
        sum+=int(i)**l
        
    if sum==int(x):
        print("Its Armstrong number")
        
    else:
        print("Not Armstrong number")
        
arms(num)

Enter a number153
Its Armstrong number

In [182]:
# Find the length of array without using len function
arr = [1,5,9,6,3]

length=0

for i in arr:
    length+=1
    
print(length)

5

In [187]:
# right angle triangle

n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [189]:
n=5
for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [190]:
n=5
for i in range(n):
    for j in range(n-i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [199]:
n=5

for i in range(n):
    for j in range(n-i):
        print(" ",end=" ")
    
    
    for j in range(i+1):
        print("*",end=" ")
    
    for j in range(i+1-1):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [204]:
# leap year

year=int(input("Enter a year"))

if (year%4==0 and year%100!=0) or (year%4==0 and year%400==0):
    print("Leap year")
else:
    print("Not leap Year")

Enter a year1924
Leap year

In [212]:
# Count of maximum occouring letter and number of times it is repeated
mystring = 'Hello everyone, good afternoon'

new={}

for i in mystring:
    for i in new:
        if i in new:
            new[i]=new[i]+1
        else:
            new[i]=1
print(new)

{}

In [210]:
# Count of maximum occouring letter and number of times it is repeated
mystring = 'Hello everyone, good afternoon'
mydict = {}
for i in mystring:
    if i in mydict:
        mydict[i] = mydict[i] + 1
    else:
        mydict[i] = 1
print(mydict)

{'H': 1, 'e': 5, 'l': 2, 'o': 6, ' ': 3, 'v': 1, 'r': 2, 'y': 1, 'n': 3, ',': 1, 'g': 1, 'd': 1, 'a': 1, 'f': 1, 't': 1}

In [214]:
x="Hello World"
print("my message is {}".format(x))

my message is Hello World

In [215]:
print(f"my message is {x}")

my message is Hello World